*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("tree.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main{
    max-width: 400px;
    margin: 150px auto;
    background-color: rgb(13, 24, 13);
    align-items: center;
    text-align: center;
    padding: 10px;

}
main h1, main h2{
    margin-bottom: 10px;
}
button{
    width: 150px;
    margin-bottom: 5px;
    border: none;
    border-radius: 2px;
    height:20px;
    background-color: rgb(29, 56, 29);
    color: whitesmoke;
    
}

.btn3{
    margin-bottom: 15px;
}
